@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(142, 44, 132);
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body > * {
  margin: 70px;
}

header {
  /* background-color: bisque; */
}

main {
  background-color: rgb(136, 127, 114);
}

footer {
  background-color: cadetblue;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

.profile-card {
  display: grid;
  /* padding: 10px; */
  /* background-color: aqua; */
  grid-template-columns: auto 1fr;
  align-items: center;
}

#profile-text {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
}

#profile-text p {
  font-size: 1.1rem;
}
#profile-icons {
  display: flex;
  justify-content: right;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}

#profile-img {
  display: flex;
  width: 400px;
  height: 400px;
  background-image: url("https://placehold.co/400x400");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
}

.icon {
  text-decoration: none;
}

/* TODO: stop icons having click color/underline */
.icon::after {
  text-decoration: none;
}
